{%  extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    CMS
{% endblock %}

{% block content %}
    <h1>View d'un CMS</h1>
    <p>Id:{{ cms.id }}</p>
    <p>title:{{ cms.title }}</p>
    <p>title:{{ cms.summary }}</p>
    <p>title:{{ cms.description }}</p>
{% endblock %}