{%  extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Products
{% endblock %}

{% block content %}
    <h1>View d'un Produit</h1>
    <p>titre  du produit: {{ product.title}}</p>
    <p>Summary:{{ product.summary }}</p>
    <p>Description:{{ product.description }}</p>
    <p>Price:{{ product.price }}</p>
{% endblock %}