{%  extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Categories
{% endblock %}

{% block content %}
    <h1>View d'une Catégorie</h1>
    <p>Id:{{category.id }}</p>
    <p>Id:{{category.title}}</p>
    <p>Id:{{category.description}}</p>


{% endblock %}